<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings">
      <div class="mb-3">
        <lable for="title" class="form-label">Title</lable>
        <input
          name="listing[title]"
          placeholder="Add a Title"
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <lable for="description" class="form-label">Description</lable>
        <textarea
          name="listing[description]"
          type="text"
          class="form-control"
        ></textarea>
      </div>

      <div class="mb-3">
        <lable for="image" class="form-label">Image Link</lable>
        <input
          name="listing[image]"
          placeholder="Enter image URL / Link"
          type="text"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <lable for="price" class="form-label">Price</lable>
          <input
            name="listing[price]"
            placeholder="1500"
            type="number"
            class="form-control"
          />
        </div>

        <div class="mb-3 col-md-8">
          <lable for="country" class="form-label">Country</lable>
          <input
            name="listing[country]"
            placeholder="Pakistan"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3">
        <lable for="location" class="form-label">Location</lable>
        <input
          name="listing[location]"
          placeholder="Islamabad"
          type="text"
          class="form-control"
        />
      </div>

      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
